<launch>
    <!-- Loaf gazebo simulator with jebediah -->
    <include
    file="$(find jebediah)/launch/gazebo_server.launch" />
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find jebediah_control)/config/jebediah_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/jebediah" args="
                coxa_1_position_controller
                femur_1_position_controller
                tibia_1_position_controller
                coxa_2_position_controller
                femur_2_position_controller
                tibia_2_position_controller
                coxa_3_position_controller
                femur_3_position_controller
                tibia_3_position_controller
                coxa_4_position_controller
                femur_4_position_controller
                tibia_4_position_controller
                joint_state_controller"/>

    <!-- convert joint states to Tf transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/jebediah/joint_states" />
    </node>
    <node name="ctrl_api" pkg="jebediah_control" type="ctrl_api" respawn="true" output="screen"></node>
</launch>